In [58]:
import pandas as pd 
import numpy as np 

link = "http://cocl.us/Geospatial_data"
df1 = pd.read_csv(link)

df1.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [59]:
df1.shape

(103, 3)

In [60]:
df1.columns = ['Postcode','Latitude','Longitude']

cols = df1.columns.tolist()
cols

['Postcode', 'Latitude', 'Longitude']

In [66]:
link = "https://github.com/hardik7698/Coursera_Capstone/blob/master/df_can.csv"
df = pd.read_csv(link,index_col=0)
df.head(10)

  Postcode      Borough                                    Neighbourhood
0      M1B  Scarborough                                   Rouge ,Malvern
1      M1C  Scarborough           Highland Creek ,Rouge Hill ,Port Union
2      M1E  Scarborough                Guildwood ,Morningside ,West Hill
3      M1G  Scarborough                                           Woburn
4      M1H  Scarborough                                        Cedarbrae
5      M1J  Scarborough                              Scarborough Village
6      M1K  Scarborough      East Birchmount Park ,Ionview ,Kennedy Park
7      M1L  Scarborough                  Clairlea ,Golden Mile ,Oakridge
8      M1M  Scarborough  Cliffcrest ,Cliffside ,Scarborough Village West
9      M1N  Scarborough                      Birch Cliff ,Cliffside West

In [67]:
df_new = pd.merge(df, df1, on='Postcode')
df_new.tail(10)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
93,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242
94,M9B,Etobicoke,"Cloverdale ,Islington ,Martin Grove ,Princess ...",43.650943,-79.554724
95,M9C,Etobicoke,"Bloordale Gardens ,Eringate ,Markland Wood ,Ol...",43.643515,-79.577201
96,M9L,North York,Humber Summit,43.756303,-79.565963
97,M9M,North York,"Emery ,Humberlea",43.724766,-79.532242
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village ,Martin Grove Gardens ,Richv...",43.688905,-79.554724
101,M9V,Etobicoke,"Albion Gardens ,Beaumond Heights ,Humbergate ,...",43.739416,-79.588437
102,M9W,Etobicoke,Northwest,43.706748,-79.594054

In [68]:
df_new.to_csv(r'df_final.csv')